<mat-toolbar color="accent">
    <span class="link" routerLink="userList" routerLinkActive="link_active"> User List</span>
    <span class="link" routerLink="about" routerLinkActive="link_active">About</span>
    <span class="example-fill-remaining-space"></span>

    <div class="login" routerLink="login" routerLinkActive="login_active">
        <button mat-button [matMenuTriggerFor]="menu">{{loginName}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>{{loginName}}</button>
            <button (click)="logout()" mat-menu-item>Выйти</button>
        </mat-menu>
        <img class="login__img" src="../../../assets/icons/login-icon.png" alt="">

    </div>

</mat-toolbar>