.example-spacer {
    flex: 1 1 auto;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.link {
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
    outline: none;
    display: block;
    box-sizing: border-box;
    &_active {
        border-bottom: 3px solid purple;
    }
}

.login {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    box-sizing: border-box;
    &__name {
        font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    }
    &__img {
        width: 50px;
        cursor: pointer;
        user-select: none;
    }
    &_active {}
}