<div class="wrap">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{user.name.first}} {{user.name.last}}</mat-card-title>
            <mat-card-subtitle>Email:
                <a href="mailto: {{user.email}}">{{user.email}}</a>
            </mat-card-subtitle>
            <div class="card__close" (click)="close()">X</div>
        </mat-card-header>
        <img mat-card-lg-image [src]="user.picture.medium">
        <mat-card-content>Age: {{user.dob.age}} Nat: {{user.nat}}</mat-card-content>
        <mat-card-content>Phone: {{user.phone}}</mat-card-content>
        <mat-card-content>City: {{user.location.city}} </mat-card-content>
        <button *ngIf="!adress" mat-raised-button color="accent" class="card__button" (click)="showAdreess()">Show Adress</button>
        <button *ngIf="adress" mat-raised-button color="accent" class="card__button" (click)="showAdreess()">Hide Adress</button>
        <mat-card-footer class="card__footer" *ngIf="adress">Adress: {{user.location.state}} {{user.location.street}}</mat-card-footer>

    </mat-card>
</div>