.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    max-width: 600px;
    position: relative;
    &__button {
        margin-bottom: 15px;
    }
    &__footer {
        margin: 10px;
    }
    &__close {
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: red;
        color: white;
        top: 0px;
        right: 0px;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}