<div class="login">
    <h3 class="login__name">Авторизация</h3>
    <div class="login__item">
        <form class="example-form " novalidate [formGroup]="userForm">
            <div color="worn" class="container">
                <mat-form-field>
                    <input type="text" formControlName="name" matInput placeholder="Логин">
                    <mat-error *ngIf="name.invalid">'{{getErrorMessage()}}'</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" formControlName="password" matInput placeholder="Пароль">
                </mat-form-field>
                <button (click)="auth()" mat-raised-button color="accent">Войти</button>
            </div>
        </form>
    </div>
</div>