.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dcdbcd;
    &__item {
        display: flex;
        flex-direction: column;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}