.card {
    width: 20em;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 30px;
    overflow-x: hidden;
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 15px 0px;
    }
    &__info {
        font-size: 18px;
        font-style: italic;
        margin: 5px;
    }
    &__btn {
        cursor: pointer;
        background-color: rgb(218, 190, 32);
        outline: none;
        border: none;
        border-radius: 4px;
    }
}
