<div class="card">
    <img class="card__img" [src]="user.picture.thumbnail" alt="">
    <span class="card__info">Name: <b>{{user.name.first}} {{user.name.last}}</b></span>
    <span class="card__info">City: {{user.location.city}}</span>
    <span class="card__info">Gender: {{user.gender}}</span>
    <button mat-raised-button color="accent" class="card__btn" (click)="showInfo()">More Info</button>

</div>